<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <!--
		Use the one of predefined values: None, ApplicationFolder, ApplicationDataFolder. The default value is ApplicationFolder.
		<add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="Languages" value="de;es;ja;ru" />
		-->
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
    <add key="FeedbackDemoName" value="SimpleProjectManager.Win.CS" />
    <add key="FeedbackDescription" value="This straightforward demo allows you to manage projects, assign tasks to employees, store customer comments, and organize basic product management processes. It’s designed to introduce you to important XAF development concepts including use of XAF’s highly configurable CRUD UI (building apps for multiple platforms using a common code base) and the creation/reuse of application building blocks (data models, UI settings, behavior) with XAF modules such as Validation, ConditionalAppearance, etc. Both eXpressPersistent Objects (XPO) and Entity Framework (EF) ORM libraries are used for data access." />
  </appSettings>
  <connectionStrings>
    
    <add name="ConnectionStringXPO" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Initial Catalog=SimpleProjectManagerXPO_v19.1;Pooling=false;ConnectRetryCount=0" />
    <add name="ConnectionStringEF" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Initial Catalog=SimpleProjectManagerEF_v19.1;MultipleActiveResultSets=True;ConnectRetryCount=0" />
    <!--CanNotPatchBinConnectionString-->
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Express Server:
		<add name="ConnectionString" connectionString="Integrated Security=True;Pooling=false;MultipleActiveResultSets=True;Data Source=.\SQLExpress;Initial Catalog=SimpleProjectManager_v19.1" />
		-->
    <!--
		Use the following ConnectionString to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=True;Pooling=false;MultipleActiveResultSets=True;Data Source=(local);Initial Catalog=SimpleProjectManager_v19.1"/>
		-->
    <!--		
		Use the following connection string to connect to a Jet (Microsoft Access) database that is already created and located in the <application root>/app_data folder. 
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=|DataDirectory|\SimpleProjectManager_v19.1.mdb;Mode=Share Deny None;"/>
		If the database doesn't exist, it won't be created until you replace the |DataDirectory| substitution string with the fully qualified path to the database. For instance:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=C:\myDataFolder\SimpleProjectManager_v19.1.mdb;Mode=Share Deny None;"/>		
		-->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
</configuration>
